<div class="row w-12 mx-auto mt-3">

  <div class="col-sm-8 col-12">
    <h3 class="info-text">
      Último
    </h3>
    <app-news-page class="obituario-coloring" *ngIf="newsId" [id]="newsId"></app-news-page>
    <app-error-load [loadError]="boxLoadingError" [isLoading]="isBoxLoading"></app-error-load>

  </div>

  <div class="col-sm-4 col-12">
    <div class="form-inline">

      <div class="col-sm-5">
        <h3 class="info-text">
          Recentes
        </h3>
      </div>

      <div class="col-sm-7 d-flex">
          <label>Filtrar:</label>
          <input type="text" class="form-control w-12" placeholder="Título ou Data ..."
              (ngModelChange)="onSearchChange($event)" [(ngModel)]="searchValue"
              ngbTooltip="Exemplo de busca de data: 01/01/2019 13h30">
      </div>
    </div>
    
    

    <div class="box-container" *ngFor="let new of news">
      <div [ngClass]="{'box-container-selected': new.id == newsId}">
        <app-obituario-box class="col-sm-4" [newsData]="new" (outData)="loadObituario($event)">
        </app-obituario-box>
      </div>
    </div>

    <app-empty-list [show]="newsData?.totalElements === 0"></app-empty-list>

    <button type="button" class="btn btn-outline-success w-12" *ngIf="newsData?.numberOfElements != newsData?.totalElements"
      (click)="loadMoreObituarios()">Mostrar mais obituários</button>

  </div>



</div>

<!-- Modal -->
<app-modal hidden="true"></app-modal>