<div class="avatar-text-container">
  <div class="avatar-frame">
    <span class="helper"></span>
    <img alt="avatar" src="../../../../assets/images/avatar.png">
  </div>

  <div class="avatar-text-textcontainer">
    <div class="comment-title">
      Escrito por
      <span>
        {{comment?.authorName}}
      </span>
      - {{comment?.date}}
    </div>
    <div class="comment-body">
      {{comment?.body}}
      <span *ngIf="readMore" (click)="expandText()">Ver Mais</span>
    </div>
  </div>

</div>