<div class="avatar-text-container">
  <div class="avatar-frame">
    <span class="helper"></span>
    <image alt="avatar" [imgSrc]="comment?.imgProfile || '../../../../assets/images/avatar.png'"
    [height]="'50px'" [width]="'50px'" [style]="{'border-radius': '50%'}"></image>
  </div>
  <div class="avatar-text-textcontainer">
    <div class="comment-title">
      Escrito por
      <span [ngClass]="{'text-success': !comment?.authorEmail}">
        {{comment?.authorName}}
      </span>
      - {{comment?.date | date: "dd/MM/yyyy 'às' HH'h'mm"}}
    </div>
    <div class="comment-body">
      {{comment?.body}}
      <span *ngIf="readMore" (click)="expandText()">Ver Mais</span>
    </div>

  </div>

    <i class="fas fa-times" *hasAuthority="'EMPLOYEE'" (click)="removeComment()" ngbTooltip="Deletar Comentário"></i>

</div>