@import '../../../app.component.scss';

.avatar-text-container {
    padding: 1% !important;
    margin: 1% auto !important;
    border: 1px solid lightgray;
    background-color: white;
    position: relative;

    .avatar-text-textcontainer {
        margin-left: 20px !important;
    }
    .comment-title {       
        font-size: 14px;
        font-weight: 700;
        a{
            text-decoration: underline;               
        }
        span {
            color: #717171;
        }
    }
    .comment-body {
        margin-top: 1px;
        font-size: 12px;   
        span {
            color: $linkColor;
            cursor: pointer;
        }    
    }

    .fa-times {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 40px;
        font-size: 22px;
        color: red;
        cursor: pointer;
    }
}
