  <div class="content">

  <div class="row">
    <div class="col-md-6 col-8">
      <h3 class="info-text">
        Notícias
      </h3>

      <div class="news-content">
        <news-box-component *ngFor="let newData of newsData" [newsData]="newData"></news-box-component>
        <app-error-load [loadError]="boxLoadingError" [isLoading]="isBoxLoading"></app-error-load>
       </div>
    </div>

    <div class="col-md-6 col-4">
      <div style="display: grid;">
        <img src="../assets/images/cartaopax-logo.png">
        <img src="../assets/images/cartaopax-logo.png">
        <img src="../assets/images/cartaopax-logo.png">
        <img src="../assets/images/cartaopax-logo.png">
        <img src="../assets/images/cartaopax-logo.png">
        <img src="../assets/images/cartaopax-logo.png">
        <img src="../assets/images/cartaopax-logo.png">
        <img src="../assets/images/cartaopax-logo.png">
        <img src="../assets/images/cartaopax-logo.png">
        <img src="../assets/images/cartaopax-logo.png">
        <img src="../assets/images/cartaopax-logo.png">
        <img src="../assets/images/cartaopax-logo.png">
        <img src="../assets/images/cartaopax-logo.png">
        <img src="../assets/images/cartaopax-logo.png">
        <img src="../assets/images/cartaopax-logo.png">
        <img src="../assets/images/cartaopax-logo.png">
        <img src="../assets/images/cartaopax-logo.png">
        <img src="../assets/images/cartaopax-logo.png">
      </div>
    </div>
  </div>
</div>