@import '../../app.component.scss';

.row {    
      margin: 0 auto;
      width: 90%;   
}

.news-content {
      padding: 1%;
      border: 2px solid lightgray;
      border-radius: 4%;
      background-color: #d8ffd1;
}


