<div class="content">

  <div class="row">
    <div class="col-6">

      <h3 class="info-text">
        Notícias
      </h3>

      <div class="news-content">
        <img src="../assets/images/cartaopax-logo.png">
        <img src="../assets/images/cartaopax-logo.png">
        <img src="../assets/images/cartaopax-logo.png">
        <img src="../assets/images/cartaopax-logo.png">
        <img src="../assets/images/cartaopax-logo.png">
        <img src="../assets/images/cartaopax-logo.png">
        <img src="../assets/images/cartaopax-logo.png">
        <img src="../assets/images/cartaopax-logo.png">
        <img src="../assets/images/cartaopax-logo.png">
        <img src="../assets/images/cartaopax-logo.png">
        <img src="../assets/images/cartaopax-logo.png">
        <img src="../assets/images/cartaopax-logo.png">
        <img src="../assets/images/cartaopax-logo.png">
        <img src="../assets/images/cartaopax-logo.png">
        <img src="../assets/images/cartaopax-logo.png">
        <img src="../assets/images/cartaopax-logo.png">
        <img src="../assets/images/cartaopax-logo.png">
        <img src="../assets/images/cartaopax-logo.png">
      </div>
    </div>
    <div class="col-6">
      <div style="display: grid;">
        <img src="../assets/images/cartaopax-logo.png">
        <img src="../assets/images/cartaopax-logo.png">
        <img src="../assets/images/cartaopax-logo.png">
        <img src="../assets/images/cartaopax-logo.png">
        <img src="../assets/images/cartaopax-logo.png">
        <img src="../assets/images/cartaopax-logo.png">
        <img src="../assets/images/cartaopax-logo.png">
        <img src="../assets/images/cartaopax-logo.png">
        <img src="../assets/images/cartaopax-logo.png">
        <img src="../assets/images/cartaopax-logo.png">
        <img src="../assets/images/cartaopax-logo.png">
        <img src="../assets/images/cartaopax-logo.png">
        <img src="../assets/images/cartaopax-logo.png">
        <img src="../assets/images/cartaopax-logo.png">
        <img src="../assets/images/cartaopax-logo.png">
        <img src="../assets/images/cartaopax-logo.png">
        <img src="../assets/images/cartaopax-logo.png">
        <img src="../assets/images/cartaopax-logo.png">
      </div>
    </div>
  </div>
</div>