@import '../../app.component.scss';

.content {
    @media screen and (max-width: 768px){
        margin-top: 130px !important; 
        width: 100%;
      }
      margin-top: 150px !important;  
}


.row {    
      margin: 0 auto;
      width: 90%;   
}

.news-content {
    @media screen and (max-width: 768px){
        max-width: 100% !important;        
    }
    background-color: #fff !important;
    border: 1px solid lightgray;
    border-radius: 2%;
    overflow: auto;
    display: grid;
    height: 65vh !important;
    max-width: 75%;
}
