<div class="box box-success">
    <div class="box-header with-border">
        <div class="box-subheader">

          <h5>
              <i class="far fa-calendar"></i>
              {{data?.date}}
          </h5>

          <h5 (click)="goToDetailComments()" class="comment-text">
              <i class="far fa-comments"></i>
              {{data?.commentCount > 0 ? data?.commentCount : "Nenhum"}} 
              {{data?.commentCount > 1 ? "Comentários" : "Comentário"}}
          </h5>
          
        </div>
        <h3 class="box-title" (click)="goToDetail()" >{{data?.title}}</h3>
    </div>
    <div class="box-body">
           <p [innerHTML]="data?.body">{{data?.body}}</p> 
        <a href="javascript:void(0)" (click)="goToDetail()"  *ngIf="readMore">Leia Mais</a>
    </div>    
</div>