@import "../../../app.component.scss";

.box {
    margin-bottom: 35px;    
    width: 100%;
    min-height: 180px;
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-top-color: #00a65a;
}

.box-header {
    padding: 0px;   
    color: #444;
    display: block;
    position: relative; 
    
}
.box-header:before, .box-body:before, .box-header:after, .box-body:after {
    content: " ";
    display: table;
    clear: both;
}
.box-body {
    word-break: break-word;
    margin-left: 25px;
    white-space: pre-line;
    padding: 10px;
}
.box-body a {
    float: right;
}

.box-title {
    font-size: 18px;
    line-height: 1;
    display: inline-block;
    margin-top: 15px;
    margin-left: 20px;
    margin-bottom: 15px;
    color: darkgreen;
    cursor: pointer;
    &:hover {
        color: $secondaryGreen;
    }
}

.box-subheader {
    @media screen and (max-width: 768px){
        display: block;           
    }
    background-color: $thirdGreen;
    color: white;
    display: flex;   
    h5 {
        font-size: 12px;
        margin-bottom: 0 !important;
        padding: 7px;
        font-weight: 700;
        i {
            margin-left: 10px;
            margin-right: 4px;
        }
    }
    .comment-text{
        cursor: pointer;
        &:hover{
            color: lightgray;
        }
    }
}
