@import "../../../app.component.scss";

.box {
    width: 80% !important;
    margin: 0 auto;
    margin-bottom: 20px !important;    
}

.box-header {
    padding: 0px !important;    
}
.box-body {
    word-break: break-word;
}
.box-body a {
    float: right;
}

.box-title {
    margin-top: 15px !important;
    cursor: pointer;
    &:hover {
        color: $secondaryGreen;
    }
}

.box-subheader {
    @media screen and (max-width: 768px){
        display: block;           
    }
    background-color: $thirdGreen;
    color: white;
    display: flex;   
    h5 {
        font-size: 12px;
        margin-bottom: 0 !important;
        padding: 7px;
        font-weight: 700;
        i {
            margin-left: 10px;
            margin-right: 4px;
        }
    }
    .comment-text{
        cursor: pointer;
        &:hover{
            color: lightgray;
        }
    }
}
