<div class="content">

  <h3 class="title">
    {{newsData?.title}}
  </h3>

  <div class="subheader">
    <h5>
      <span>
        Postado em
      </span>
      {{newsData?.date}}
    </h5>

  </div>
  <div class="body">
    {{newsData?.body}}
  </div>

  <div class="avatar-text-container" id="comments">
    <div class="avatar-frame">
      <span class="helper"></span>
      <img alt="avatar" src="../../../../assets/images/avatar.png">
    </div>

    <div class="avatar-text-textcontainer">
      <div class="author-title">
        Escrito por
        <a href="#"> Rafael Brier </a>
      </div>
      <div class="author-body">
       {{fakeData}}
       <span href *ngIf="readMore" (click)="expandText()">Ver Mais</span>
      </div>
    </div>

  </div>

  <div class="info-text">
    Comentários
  </div>

  <app-comment-box></app-comment-box>
  <app-comment-box></app-comment-box>
  <app-comment-box></app-comment-box>
  <app-comment-box></app-comment-box>
  <app-comment-box></app-comment-box>

</div>