@import '../../../app.component.scss';

.content {
    max-width: 80% !important;
}

.title, .subheader, .body {
    background-color: rgb(236, 236, 236);
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 1%;
}

.avatar-text-container {   
    background-color: $thirdGreen;  

    .avatar-text-textcontainer {
        .author-title, a, span {
            color: white !important;
            font-size: 16px;
            font-weight: 700;
            a{
                text-decoration: underline;                           
            }            
        }
        .author-body {
            margin-top: 5px;
            font-size: 14px;
            color: white;
            span {
                cursor: pointer !important; 
            }
        }
    }
}