@import '../../../app.component.scss';

.content {
    @media screen and (max-width: 768px){
    max-width: 100%;
    }
    max-width: 80%;
}

.title, .body {
    background-color: rgb(236, 236, 236);
    border: 1px solid lightgray;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 1%;
}

.subheader {
    color: #77a0a0;
    h5 {
        font-size: 15px;
        margin-left: 50px;
        margin-top: -10px;
    }
    .comment-count {
        margin-left: 100px;
    }
}

.avatar-text-container {   
    background-color: $thirdGreen;  

    .avatar-text-textcontainer {
        .author-title, a, span {
            color: white !important;
            font-size: 16px;
            font-weight: 700;
            a{
                text-decoration: underline;                           
            }            
        }
        .author-body {
            margin-top: 5px;
            font-size: 14px;
            color: white;
            span {
                cursor: pointer !important; 
            }
        }
    }
}