@import '../../app.component.scss';

.row {    
      margin: 0 auto;
      width: 90%;   
}

.news-content {
      padding: 1%;
      border-top: 2px solid lightgreen;
      border-bottom: 2px solid lightgreen;
      .btn {
            margin: 0 auto;
      }
}

.gallery-container {
      text-align: center;
}

.club-button {
      margin: 0 auto;
    display: flex;
}

.info-begin {
      padding: 20px 50px;
      font-size: 20px;
      font-weight: 700px;
      color: green;
}
.section {
      margin-top: 5%;
}

/deep/ #partners .ngx-gallery-thumbnail {  
      border: 2px solid lightgray;
      max-height: 150px;
  }
// ----------------- FOOTER ----------------- //
.footer-container {
      background-image: linear-gradient(to bottom, #12b808, #096e06);
      box-shadow: 0px 0px 40px 5px #096e06;
      text-align: center;
      padding: 2% 0;
  
      p, h5, h6 {
          color: white;
      }
  
      .info-container {
          h5 {
              margin: 0px 15px 0px 5px;
          }
          div {
              padding-top: 5%;
              display: inline-flex;
              align-items: center;
          }
      }
  
      .copyright {
          margin-top: 2%;
          color: white;
          border-top: lightblue 1px solid;
          padding-top: 1%;
          margin-bottom: -1%;
      }        
  
  
      .footer-menu {
  
          .footer-nav {
              max-width: fit-content;
              margin: 0 auto;
          }
          a {
              color: white;
              text-align: initial;
              i{
                  margin-right: 10px;
              }
          }
          li {
              list-style-type: none;
              border-top: 1px white solid;
              transition: transform .2s;   
  
              &:last-child {
                  border-bottom: 1px white solid;  
              }
  
              a:hover {
                  transform: scale(1.1)
              }
          }
  
          h5 {
              color: white;
              padding-right: 10%;
              padding-top: 5%;
              margin-bottom: 5%;
              font-family: inherit;
          }
      }
  
      p {
          margin-bottom: 0 !important;
      }
  
      .map-container{
          margin-left: -5%;
          height: 300px;
  
          .mapouter {
              text-align: right;
              height: 350px;
              width: 100%;
            }
            .gmap_canvas {
              overflow: hidden;
              background: none !important;
              height: 350px;
              width: 100%;
            }
      }
  }

  .footer-follow {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 200px;
  }

  
  .footer-follow li {
      display: inline-block;
      margin-right: 10px;
      margin-bottom: 13px;
      border-radius: 50%;
      opacity: 0.8;
      transition: opacity ease-in-out 0.3s;
      &:hover {
            opacity: 1;
      }
  }
  
  .footer-follow li a {
      display: inline-block;
      font-size: 22px;
      width: 60px;
      height: 60px;
      line-height: 63px;
      text-align: center;
      color: #FFF;
  }
  
  .footer-follow .facebook{
      background-color: #3b5998;
  }
  .footer-follow .twitter{
      background-color: #29a4d9;
  }
  .footer-follow .instagram{
      background-color: #d62976;
  }
  // ----------------------------------------- //
