<div class="content">

  <div class="row w-12">

    <div class="col-sm-5">
        <h3 class="info-text">
            Última
          </h3>
        <image [imgSrc]="recentNews?.imgPath || '../../../assets/images/default-banner.jpg'"
         [height]="'450px'" [width]="'100%'"></image>
        <news-box-component *ngIf="recentNews" [newsData]="recentNews"></news-box-component>
    </div>

    <div class="col-sm-7">
      <h3 class="info-text">
          Seja Filiado
        </h3>
        <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
        <article class="info-begin">SEJA UM ASSOCIADO DO CLUBE ACQUA PAX, UM COMPLETO COMPLEXO DE LAZER PARA TODA FAMÍLIA.</article>
        <button type="button" class="btn btn-success club-button" onclick="window.open('http://acquapax.surge.sh','_blank');">Apenas R$200,00 anual, associe-se já!</button>
      </div>

  </div>

  <div class="app flex-row align-items-center">

    <h3 class="info-text">
        Notícias
      </h3>
      
    <div class="row news-content" id="news">
      <!-- Erro e Vazio Handlers -->
      <div class="mx-auto">
        <app-error-load [loadError]="boxLoadingError" [isLoading]="isBoxLoading"></app-error-load>
        <app-empty-list [show]="newsData?.totalElements === 0"></app-empty-list>
      </div>

        <news-box-component class="col-sm-4" *ngFor="let new of news" [newsData]="new"></news-box-component>
        
        <button type="button" class="btn btn-outline-success" *ngIf="newsData?.numberOfElements != newsData?.totalElements"
        (click)="loadMoreNews()">Mostrar mais notícias</button>
        
    </div>

  </div>
</div>