$mainGreen: #036515 ;
$secondaryGreen: #00b51f;
$thirdGreen: #2dcb73;
$hoverColor: #acffc2;
$linkColor: #3c8dbc;

.content {
    @media screen and (max-width: 767px){
        margin-top: 130px !important; 
        width: 100%;
      }
      margin-top: 150px !important;  
      margin: 0 auto;
}

.info-text {
    @media screen and (max-width: 767px){
        font-size: 3vh;
        margin-top: 25px;
        &:after{
            width: 25% !important;
        }
      }
    color: black;
    font-size: 4vh;
    padding: 3%;
    padding-top: 0 !important;
    &:after{
        content: "";
        display:block;
        border-top: 4px solid $secondaryGreen;
        width:35px;
    }
}

.avatar-text-container {
    @media screen and (max-width: 767px){
        max-width: 100%;    
        display: flex;    
    }
    .avatar-text-textcontainer {
        margin-left: 40px;
        max-width: 80%;
    }
    padding: 3%;
    max-width: 80%;
    margin: 3% auto;
    display: flex;  
}

.avatar-frame {
    .helper {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }
    img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        vertical-align: middle;
    }
}

.btn-success {
    background-color: #008a11;
    border-color: #008a11;
    padding: .375rem 1.2rem;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open>.dropdown-toggle.btn-success {
    background-color: #059c17;
    border-color: #059c17;
}

.btn-info {
    background-color: #117790;
    border-color: #117790;
    padding: .375rem 1rem;
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open>.dropdown-toggle.btn-info {
    background-color: #1684a0;
    border-color: #1684a0;
}

.inner-addon {
    position: relative;
  }
  
  /* style glyph */
  .inner-addon .fas {
      position: absolute;
    padding: 10px;
    cursor: pointer;
}

/* align glyph */
.right-addon .fas { right: 0px; line-height: 21px;}

/* add padding  */
.right-addon input { padding-right: 30px; }

.mw-px-1 { min-width: 80px;}

.td-full-wd {
    white-space: nowrap;
}

    .mw-px-2 { min-width: 160px;}
    .mw-px-3 { min-width: 240px;}      
    .mw-px-4 { min-width: 320px;}
    .mw-px-5 { min-width: 400px;}
    .mw-px-6 { min-width: 480px;}      
    .mw-px-7 { min-width: 560px;}
    .mw-px-8 { min-width: 640px;}
    .mw-px-9 { min-width: 720px;}
    .mw-px-10{ min-width: 800px;}
    .mw-px-11{ min-width: 880px;}
    .mw-px-12{ min-width: 960px;}

    
    .w-1 {width: 8.3333%;   }
    .w-2 {width: 16.6666%;  }
    .w-3 {width: 25%;       }
    .w-4 {width: 33.3333%;  }
    .w-5 {width: 41.6666%;  }
    .w-6 {width: 50%;       }
    .w-7 {width: 58.3333%;  }
    .w-8 {width: 66.6666%;  }
    .w-9 {width: 75%;     }
    .w-10 {width: 83.3333% }
    .w-11 {width: 91.6666% }
    .w-12 {width: 100%     }