<div class="component-title">
  Gerenciar Usuários
</div>

<div class="table-container">

  <div class="form-inline justify-content-center">

    <div class="col-sm-4 d-flex">
      <label>Mostrar</label>
      <select class="custom-select" [(ngModel)]="limitValue" (ngModelChange)="onSelectChange($event)">
        <option *ngFor="let limitOption of limitOptions" [value]="limitOption">{{limitOption}}</option>
      </select>
      <label>entradas.</label>
    </div>

    <div class="col-sm-4 offset-sm-4 d-flex">
      <label>Filtrar:</label>
      <input type="text" class="form-control" placeholder="id, nome, CPF ..." (ngModelChange)="onSearchChange($event)"
        [(ngModel)]="searchValue">
    </div>
  </div>

  <table class="table">

    <thead>
      <tr>
        <th id="id" class="mw-px-1" scope="col" (click)="sortBy('id')" appSortTable [sort]="[orderBy,orderAscOrDesc]">
          #</th>
        <th id="cpf" class="mw-px-3" scope="col" (click)="sortBy('cpf')" appSortTable [sort]="[orderBy,orderAscOrDesc]">
          CPF</th>
        <th id="planos_id" class="mw-px-1" scope="col" (click)="sortBy('planos_id')" appSortTable [sort]="[orderBy,orderAscOrDesc]">
          Plano</th>
        <th id="plan_price" class="mw-px-2" scope="col" (click)="sortBy('plan_price')" appSortTable [sort]="[orderBy,orderAscOrDesc]">
              Mensalidade</th>
        <th scope="col" class="mw-px-2">Dados Completos</th>
        <th scope="col" class="mw-px-2">Ações</th>
      </tr>
    </thead>

    <tbody>

      <tr *ngFor="let user of users">

          <th scope="row" class="box">{{user?.id}}
              <div class="ribbon" [ngClass]="{'r-blue': user?.roles?.id === 2, 'd-none': user?.roles?.id === 3}">
              <span>{{user?.roles?.name}}</span>
            </div>
          </th>

        <td>{{user?.cpf | cpf}}</td>
        <td class="plano-text" [ngClass]="{'p-blue': user?.planos?.id === 2, 'p-green': user?.planos?.id === 3}">
          {{user?.planos?.name}}</td>
        <td class="font-weight-bold">{{user?.planPrice | BRCurrencyPipe}}</td>
        <td>
          <button type="button" class="btn btn-outline-info btn-table" (click)="showData(user)"
            ngbTooltip="Visualizar dados completos do usuário">
            <img src="../../../../assets/images/icons/newspaper.svg" width="24px" height="24px">
          </button>
        </td>
        <td class="td-full-wd">
          <button type="button" class="btn btn-outline-warning btn-table" (click)="editUser(user)"
            ngbTooltip="Editar usuário">
            <img src="../../../../assets/images/icons/edit.svg" width="24px" height="24px">
          </button>
          <button type="button" class="btn btn-outline-danger btn-table" (click)="deleteUser(user)"
            ngbTooltip="Remover usuário">
            <img src="../../../../assets/images/icons/delete.svg" width="24px" height="24px">
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Loading -->
  <app-error-load [loadError]="boxLoadingError" [isLoading]="isBoxLoading"></app-error-load>
  <!-- Se a lista estiver vazia -->
  <app-empty-list [show]="usersData?.totalElements === 0"></app-empty-list>

  <div class="row">

    <div class="col-sm-5 d-flex justify-content-center data-info" *ngIf="usersData">
      <span *ngIf="usersData?.totalElements === 0; else itemsfound">
        Nenhum resultado corresponde à pesquisa.
      </span>
      <ng-template #itemsfound>Exibindo {{(pages*limitValue + 1) ===
                usersData?.totalElements ? "usuário" : "usuários"}} de
        {{pages*limitValue + 1}} a {{(pages*limitValue) + usersData?.numberOfElements}}
        de um total de {{usersData?.totalElements}}.
      </ng-template>
    </div>

    <div class="col">
      <ngb-pagination class="d-flex justify-content-end" [collectionSize]="pagNumberOfPages" [page]="pages + 1"
        [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="onPageChange($event)"></ngb-pagination>
    </div>

  </div>

</div>

<!-- Modal -->
<app-modal hidden="true"></app-modal>