/* NAVBAR */

@import '../../app.component.scss';

@media screen and (min-width: 1350px) {
    .navbar {
       background: url('../../../assets/images/header.png') no-repeat center top;
       height: 143px;
       background-size: cover;
       width: 100%;
   }
   .navbar-opacity {
      opacity: 0.9;
   }   
   .nav {
       margin-top: -75px !important;
   }  
   .card {
    top: 90% !important;
    }   
   .navbar-brand img {
    margin-bottom: 35px;
    margin-right: 9px;
   }
}

@media screen and (max-width: 1349px) {
    .navbar {
        background-image: linear-gradient(to right, rgb(18, 184, 8) , rgb(9, 110, 6));
    }
    .navbar-opacity {
        background: linear-gradient(to right, rgba(18, 184, 8, 0.5) , rgba(9, 110, 6, 0.5)) !important;
        .login-button {
            opacity: 0.5;
        }
    }
    .login-button {
        top: 80% !important;   
    }   
    .navbar-logo {
        max-height: 48px !important;  
        transition: max-height 1s;  
    }
}

.nav {
    margin: 0 auto;
}

.navbar-brand img{
    transition: max-height 1s;  
     max-height: 84px;     
}

.telephone {
    position: fixed;
    top: 60px;
    left: 29vw;
    font-weight: 700;
    i {
        margin-right: 15px;
    }
}

.login-button {
    position: absolute;
    display: flex;
    top: 55%;   
    right: 3%;   
}

.nav-link {
    margin: 0 0.5vw 0 0.5vw !important;
    font-weight: 600;   
    color: white !important;
    &:hover, &:active, &:focus {
        color: $hoverColor !important;
        background-color: transparent !important;        
    }     
}   

.dropdown:hover .dropdown-menu {
    @media screen and (min-width: 768px){
        display: block;
    }      
}
   

.dropdown-menu {
    background-color: $mainGreen !important;
    .dropdown-item {
        color: white !important;
        border-bottom: 1px solid #888888;
        white-space: normal;
        &:hover, &:active, &:focus {
            color: $hoverColor !important;
            background-color: $mainGreen !important;
        } 
        &:last-child {
            border-bottom: none;
        }       
    }
}

.collapse.show {
    display: contents;
}

.btn {   
    color: white;    
}

.btn-success i {
        padding-right: 10%;
}

.btn-info {
    float: right;   
    i {
        margin-right: 4%;
    }
}

.card {
    position: absolute;
    right: 7%;
    min-width: 25%;
    top: 125%;
    border-radius: 5%;
    box-shadow: 0px 0px 20px 1px;
    @media screen and (max-width: 767px){
        min-width: 75%;
    }     
}

.card-after-scroll {
    top: 140%;
}
