<mat-toolbar>

  <button class="btn sidebar-btn menu-btn ripple" (click)="toggleSideBar(sidenav)" [ngClass]="sideBarOpened ? 'sidebar-toggled' : ''">

    <img src="../../../../assets/images/icons/menu.svg" alt="MENU">
  </button>

  <div class="toolbar-content">
    <h4>
        <breadcrumb [homePage]="'dashboard'"></breadcrumb>
    </h4>
    <h2>
      Cartão Pax Gerenciamento
    </h2>
  </div>

  <button class="btn sidebar-btn logout-btn ripple" (click)="logout()">
    <img src="../../../../assets/images/icons/logout.svg" alt="LOGOUT">
    <a>Sair</a>
  </button>

  <button class="btn sidebar-btn logout-btn ripple" (click)="goToHome()">
    <img src="../../../../assets/images/icons/home.svg" alt="HOME">
  </button>

</mat-toolbar>

<mat-sidenav-container autosize>

  <mat-sidenav id="sidenav" #sidenav [opened]="!isMobile" [mode]="!isMobile ? 'side' : 'over'" [ngClass]="sideBarOpened ? 'scale-sidenav' : ''">

    <div class="menu-content">

      <ul>
          <li class="menu-item ripple" [ngClass]="sideBarOpened ? '' : 'icon-only'" [routerLink]="['/dashboard']"
          tabindex="1">
            <img src="../../../../assets/images/icons/profile.svg" alt="MENU">
            <a>Perfil</a>
          </li>

         <!-- with submenu -->
         <div class="sub-menu" *hasAuthority="'EMPLOYEE'" tabindex="2" (click)="collapseSubMenu_1 = !collapseSubMenu_1">
            <li class="menu-item ripple box-container-selected box-menu" [ngClass]="sideBarOpened ? '' : 'icon-only'">
              <img src="../../../../assets/images/icons/user.svg" alt="MENU">
              <a>Usuários</a>
              <div class="arrow" [ngClass]="{'arrow-rotate': collapseSubMenu_1}">&#9654;</div>
            </li>
  
            <div class="sub-menu-content" [ngbCollapse]="!collapseSubMenu_1">
              <li class="menu-item ripple sub-item" [ngClass]="sideBarOpened ? '' : 'icon-only'" [routerLink]="['./usersadd']">
                <img src="../../../../assets/images/icons/add.svg" alt="MENU">
                <a>Adicionar</a>
              </li>
              <li class="menu-item ripple sub-item" [ngClass]="sideBarOpened ? '' : 'icon-only'" [routerLink]="['./usersmanager']">
                <img src="../../../../assets/images/icons/edit.svg" alt="MENU">
                <a>Gerenciar</a>
              </li>
            </div>
          </div>
          <!-- with submenu -->

        <!-- with submenu -->
        <div class="sub-menu" *hasAuthority="'EMPLOYEE'" tabindex="3" (click)="collapseSubMenu_2 = !collapseSubMenu_2">
          <li class="menu-item ripple box-container-selected box-menu" [ngClass]="sideBarOpened ? '' : 'icon-only'">
            <img src="../../../../assets/images/icons/news.svg" alt="MENU">
            <a>Notícias</a>
            <div class="arrow" [ngClass]="{'arrow-rotate': collapseSubMenu_2}">&#9654;</div>
          </li>

          <div class="sub-menu-content" [ngbCollapse]="!collapseSubMenu_2">
            <li class="menu-item ripple sub-item" [ngClass]="sideBarOpened ? '' : 'icon-only'" [routerLink]="['./newsadd']">
              <img src="../../../../assets/images/icons/add.svg" alt="MENU">
              <a>Adicionar</a>
            </li>
            <li class="menu-item ripple sub-item" [ngClass]="sideBarOpened ? '' : 'icon-only'" [routerLink]="['./newsmanager']">
              <img src="../../../../assets/images/icons/edit.svg" alt="MENU">
              <a>Gerenciar</a>
            </li>
          </div>
        </div>
        <!-- with submenu -->

        <!-- with submenu -->
        <div class="sub-menu" tabindex="4" (click)="collapseSubMenu_3 = !collapseSubMenu_3">
          <li class="menu-item ripple" [ngClass]="sideBarOpened ? '' : 'icon-only'" >
            <img src="../../../../assets/images/icons/health.svg" alt="MENU">
            <a>Meu Plano</a>
            <div class="arrow" [ngClass]="{'arrow-rotate': collapseSubMenu_3}">&#9654;</div>
          </li>

          <div class="sub-menu-content" [ngbCollapse]="!collapseSubMenu_3">
            <li class="menu-item ripple sub-item" [ngClass]="sideBarOpened ? '' : 'icon-only'" [routerLink]="['./sobreplano']">
              <img src="../../../../assets/images/icons/info.svg" alt="MENU">
              <a>Sobre o Plano</a>
            </li>
            <li class="menu-item ripple sub-item" [ngClass]="sideBarOpened ? '' : 'icon-only'" [routerLink]="['./descricaopagamentos']">
              <img src="../../../../assets/images/icons/dollar.svg" alt="MENU" >
              <a>Descrição de Pagamentos</a>
            </li>
            <li class="menu-item ripple sub-item" [ngClass]="sideBarOpened ? '' : 'icon-only'" [routerLink]="['./boletos']">
              <img src="../../../../assets/images/icons/bill.svg" alt="MENU">
              <a>Boletos</a>
            </li>
          </div>
        </div>
        <!-- with submenu -->

        <li class="menu-item ripple" [ngClass]="sideBarOpened ? '' : 'icon-only'" [routerLink]="['/planos']"
        tabindex="5">
          <img src="../../../../assets/images/icons/money.svg" alt="MENU">
          <a>Calcular Preço dos Planos</a>
        </li>

        <li class="menu-item ripple" [ngClass]="sideBarOpened ? '' : 'icon-only'" [routerLink]="['./newsmanager']"
        tabindex="6">
          <img src="../../../../assets/images/icons/gear.svg" alt="MENU">
          <a>Menu 5</a>
        </li>

      </ul>

      <div class="form-end" *hasAuthority="'EMPLOYEE'">
        <h6 *ngIf="sideBarOpened || isMobile">Os menus marcados são vistos somente por funcionários e administradores.</h6>
      </div>

    </div>

  </mat-sidenav>

  <div class="dashboard-content">

    <ng-content></ng-content>

  </div>

</mat-sidenav-container>