
@import '../dashboard.scss';

@keyframes fadeInText {
    0% { opacity: 0.1; }
    25% { opacity: 0.2; }
    50% { opacity: 0.4; }
    75% { opacity: 0.7; }
    100% { opacity: 1; }
}

$navBackColor: white;
$borderColor: #c5cacf;

.responsive-btn {
    color: white;
    position: fixed;
    min-height: 100vh;
}

.dashboard-content {
    border-radius: 2%;
    border: 2px solid lightgray;
    background-color: white;
    width: fit-content;
}

@media screen and (min-width: 768px) {

    .dashboard-content {
        width: 94%;
        margin: 100px 0px 35px 45px;
        padding: 15px;
    }

    .toolbar-content {
        width: 100%;
        max-width: 50%;
        h4,h2{
            line-height: 64px;
        }
        h2 {
            margin: 0 auto;
        }
    }
}

.toolbar-content {
    color: black;
    display: inline-flex;  
    h4 {
        color: $grayBlue;
        font-size: 15px;
    } 
}

@media screen and (max-width: 767px) { 
    .dashboard-content {
        min-width: 90%;
        margin: 100px auto 35px auto;
        // margin: 35px auto;
    }

    mat-sidenav {
        margin-top: 56px !important;
    }

    .toolbar-content {
        display: inline-block;
        h4 {
            font-size: 3vw;
            line-height: 24px;
            text-align: left;
            color: $grayBlue;
        }

        h2 {
            font-size: 4vw;
        }
    }
}

mat-toolbar {
    padding: 0px !important;
    border-bottom: 0.5px solid $borderColor;
    position: fixed;
    z-index: 2;
    background: $navBackColor;
    display: block;
    text-align: center;
}

mat-sidenav-container {
    height: calc(100%-64px);
    background-color: #f4f6f9;
}

mat-sidenav {
    margin-top: 64px;
    position: fixed;
    background: $navBackColor;
    max-width: 100px;
    -moz-transition:  width 0.8s;
    -ms-transition: width 0.8s;
    -webkit-transition: width 0.8s;
    transition: width 0.8s;
    border-right: 0.5px solid $borderColor;
}

.scale-sidenav {
  min-width: 300px;
  max-width: 300px;
}

.top-menu {
    margin: 0;
    padding: 0;
    background: white;
    color: #5f6f81;
    list-style: none;
    text-transform: none;
    font-weight: 300;
    font-family: 'Lato', Arial, sans-serif;
    line-height: 60px;
}

@media screen and (max-width: 767px) {

    .sidebar-btn {
        height: 56px !important;
        min-width: 50px !important;
        width: fit-content;
        padding: 0 !important;
        img {
            height: 26px !important;
        }
        a {
            display: none;
        }
    }
    
    mat-sidenav {
        width: 80vw;
    }
}

.menu-btn {
    float: left;
}

.logout-btn {
    float: right;
    border-left: 0.5px solid $borderColor;
    a {
        margin-left: 10px;
        font-size: 24px;
        vertical-align: middle;
        color: $grayBlue;
    }
    &:hover a{
        color: white;        
    }
}

.sidebar-btn {
    background: none;
    border-right: 0.5px solid $borderColor;
    height: 64px;
    padding: 0 30px;
    min-width: 100px;
    border-radius: 0 !important;
    img {
        height: 36px;
    }
    &:hover {
        background: $grayBlue;
        img {
            filter: brightness(0) invert(1);
        }
    }   
}

.sidebar-toggled {
    img {
        filter: invert(0.5) sepia(1) saturate(5) hue-rotate(175deg);
    }
}

ul {
    padding: 0 !important;
}

.menu-item {
    list-style: none;
    text-transform: none;
    font-weight: 300;
    font-family: 'Lato', Arial, sans-serif;
    line-height: 36px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 15px 0;
    border-bottom: 0.5px solid $borderColor;
    cursor: pointer;
    img {
        height: 36px;
        padding: 0px 36px;
      }
    a {
        width: 160px;
        display: block;
        font-size: 20px;
        height: 100%;
        opacity: 0;
        color: $grayBlue;
        text-decoration: none;
        cursor: pointer;
        animation-name: fadeInText;
        animation-fill-mode: forwards;
        animation-duration: 0.4s;
    }

    &:hover {
        background-color: $grayBlue;
        img {
            filter: brightness(0) invert(1);
        }
        a {
            color: white;
        }
    }
}

.sub-item {
    line-height: 30px !important;
    justify-content: center;
    border-right: 0.5px solid #c5cacf;
    img {
        filter: brightness(2);
        height: 30px;
        padding: 0px 20px !important;
    }
    a {
        color: rgba(95,111,129,0.6);
        width: 120px !important;
        font-size: 18px !important;
    }
}


.collapse {
    display: block !important;
    overflow: hidden; 
    max-height: 0;
    -moz-transition: max-height 0.4s ease-out;
    -ms-transition: max-height 0.4s ease-out;
    -o-transition: max-height 0.4s ease-out;
    -webkit-transition: max-height 0.4s ease-out;
    transition: max-height 0.4s ease-out;
}

.show {
    -moz-transition: max-height 0.8s ease-in !important;
    -ms-transition: max-height 0.8s ease-in !important;
    -o-transition:  max-height 0.8s ease-in !important;
    -webkit-transition:  max-height 0.8s ease-in !important;
    transition: max-height 0.8s ease-in !important;
    max-height: 500px !important;
}

.sub-menu {
    &:hover {
        .arrow {
            color: white !important;
        }
    }
}

.arrow {
    position: fixed;
    right: 20%;
    line-height: 36px;
    color: $grayBlue;
    transform: rotate(0deg);
    -moz-transition:  transform 0.3s;
    -ms-transition: transform 0.3s;
    -o-transition: transform 0.3s;
    -webkit-transition: transform 0.3s;
    transition: transform 0.3s;
    transition-delay: 0.1s;  
}

.arrow-rotate {
    transform: rotate(90deg) !important;
    -moz-transition:   0.3s !important;
    -ms-transition:  0.3s !important;
    -o-transition:  0.3s !important;
    -webkit-transition:  0.3s !important;
    transition: 0.3s !important;
}


@media screen and (min-width: 768px) {
    .icon-only  {
        a{
            display: none;
        }
        .arrow {
            right: 10%;
        }
        justify-content: center;
    }
}