<div class="component-title">
  Perfil
</div>


<div class="container">
  <app-error-load [loadError]="boxLoadingError" [isLoading]="isBoxLoading"></app-error-load>
  <div *ngIf="!boxLoadingError && !isBoxLoading" class="row">
    <div class="col-sm-3 text-center">

      <div class="profile-pic"  *ngIf="!editImage; else editImgComp">
        <image [imgSrc]="user?.imgProfile || '../../../../assets/images/add-user-avatar.png'" [width]="'158px'"
          [height]="'158px'" [style]="{'border-radius': '50%'}">
        </image>
        <div class="edit" >
            <i class="fas fa-pencil-alt" (click)="editImg()" ngbTooltip="Editar"></i>
        </div>
      </div>

      <ng-template #editImgComp>
        <div class="col-sm-10 mx-auto">
          <i class="fas fa-chevron-right" (click)="editImage = false" ngbTooltip="Sair do modo edição"></i>
          <app-img-input-file class="profile-style" [imgPath]="downloadURL" (imgFile)="fileImg($event)"
          [inProgress]="inProgress" [progressPercentage]="progressImg"></app-img-input-file>
        </div>
      </ng-template>

      <div class="text-left sub-menu border-bottom" style="border-color: #4d4d4d">
        <p>Tipo:
          <b
            [ngClass]="{'text-success': userRole==='ADMIN', 'text-warning': userRole==='EMPLOYEE', 'text-primary': userRole!=='ADMIN' || userRole!=='EMPLOYEE'}">
            {{user?.roles?.name}}
          </b>
        </p>
        <p>Status: <b [ngClass]="{'text-primary': user?.active, 'text-danger': !user?.active}">
            {{user?.active ? "ATIVO" : "DESATIVADO"}}
          </b>
        </p>
        <p>Plano: <b style="color: #8c0202">{{user?.planos?.name}}</b></p>
        <p>Mensalidade: <b class="text-info">{{(user?.planPrice || 0.00) | BRCurrencyPipe}}</b></p>
      </div>

    </div>

    <div class="col-sm-9">

      <div class="row">
        <div class="col-sm-7 form-inline mt-3 mt-sm-0">
          <label>Nome:</label>
          <input class="form-control" type="text" [(ngModel)]="user.name" maxlength="101">
        </div>
        <div class="col-sm-5 form-inline">
          <label>CPF:</label>
          <input class="form-control-plaintext" type="text" [ngModel]="user.cpf" maxlength="14" readonly>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-7 form-inline">
            <label>Data de Nascimento:</label>
            <input class="form-control-plaintext" type="text" [ngModel]="user.birthDate" maxlength="10" readonly>
        </div>

        <div class="col-sm-5 form-inline">
            <label>Idade:</label>
            <input class="form-control-plaintext" type="text" [ngModel]="user.age" maxlength="4" readonly>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-7 form-inline">
            <label>Escolaridade:</label>
            <input class="form-control-plaintext" type="text" [ngModel]="user.escolaridade" maxlength="50" readonly>
        </div>
        <div class="col-sm-5 form-inline">
            <label>Sexo:</label>
            <input class="form-control-plaintext" type="text" [ngModel]="user.sex === 'M' ? 'Masculino' : 'Feminino'" maxlength="10" readonly>
        </div>
      </div>

      <div class="row border-bottom" style="border-color: #4d4d4d">
        <div class="col-sm-7 form-inline">
          <label>Email:</label>
          <input class="form-control" type="email" [(ngModel)]="user.email" email>
        </div>
        <div class="col-sm-5 form-inline">
          <label>Telefone:</label>
          <input class="form-control" type="email" [(ngModel)]="user.telephone" email>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-sm-7 form-inline">
          <label>CEP:</label>
          <input class="form-control" type="text" [ngModel]="user.cep | cep" maxlength="9"
            (ngModelChange)="consultaCep($event)" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
        </div>

        <div class="col-sm-5 form-inline">
          <label>Estado:</label>
          <input class="form-control" type="text" [(ngModel)]="user.estado" maxlength="51" [disabled]="retrievingCep">
        </div>
      </div>

      <div class="row">
        <div class="col-sm-7 form-inline">
          <label>Cidade:</label>
          <input class="form-control" type="text" [(ngModel)]="user.cidade" maxlength="51" [disabled]="retrievingCep">
        </div>
        <div class="col-sm-5 form-inline">
          <label>Bairro:</label>
          <input class="form-control" type="text" [(ngModel)]="user.bairro" maxlength="51" [disabled]="retrievingCep">
        </div>
      </div>

      <div class="row">
        <div class="col-sm-7 form-inline">
          <label>Endereço:</label>
          <input class="form-control" type="text" [(ngModel)]="user.endereco" maxlength="51" [disabled]="retrievingCep">
        </div>
        <div class="col-sm-5 form-inline">
          <label>Número:</label>
          <input class="form-control" type="text" [(ngModel)]="user.numero" maxlength="7">
        </div>
      </div>

      <div class="row">
        <div class="col-sm-7 form-inline">
          <label>Complemento:</label>
          <input class="form-control" type="text" [(ngModel)]="user.complemento" maxlength="16">
        </div>
      </div>

    </div>

    <div class="row form-end w-12 mx-auto">
      <div class="col-md-10">
        <h6>Para modificar seus dados, altere o campo e clique em Salvar.</h6>
        <h6> Os dados não editáveis só podem ser alterados entrando em contato com a central do Cartão Pax.</h6>
      </div>
      <div class="col-md-2">
        <button type="button" class="btn btn-info float-right" [disabled]="submitting"
          (click)="submitForm()">Salvar</button>
      </div>
    </div>

  </div>
</div>

<hr>
<hr>
<p>Admin -> 111.057.326-06 - 31/05/1995</p>
<p>Funci -> 938.693.716-68 - 31/05/1974</p>
<p>Clien -> 836.968.540-42 - 31/06/1854</p>

<!-- Modal -->
<app-modal hidden="true"></app-modal>