@import "../../dashboard.scss";


@media screen and (max-width: 767px) {
    .form-inline {
        margin-bottom: 1rem;
    }
}

@media screen and (min-width: 768px) {
    .col-sm-5 input{
        margin-left: 15px;
    }
    
    /deep/ .profile-style {
        .container img {
            float: none !important;
        }
    }
}


.profile-pic {
	position: relative;
	display: inline-block;
}

.edit {
    position: absolute;
	right: 0;
    top: 0;
    font-size: 20px;
    display: block;
}

.edit i {
    cursor: pointer;
    color: white;
    border: 2px solid white;
    background-color: #4d4d4d;
    border-radius: 30%;
    padding: 5px;
}

.sub-menu {
    margin-top: 20px;
}

.row {
    min-height: 40px;
    label  {
        color: rgba(0,0,0,0.87);
        display: table-cell;
        line-height: 25px;
    }
    input {
        display: table-cell;
        vertical-align: middle;
        width: 90%;
        text-transform: uppercase;
        color: black;
        font-weight: bold;
        padding: 0px .75rem !important;
    }
}

.form-inline {
    display: table;
}