<div class="component-title">
    {{isEditing ? 'Editar' : 'Adicionar'}} Notícia <b>{{isEditing ? [' - #' + newsToEdit?.id] : ''}}</b>
</div>

<div class="form-container">
    <form class="news-manager-form" [formGroup]="newsManagerForm" (ngSubmit)="submitNewsForm()">

        <div class="form-group">
            <label>Título da Notícia*</label>
            <input formControlName="title" type="text" class="form-control" placeholder="Mensagem">
            <!-- Validador Comentário  -->
            <app-validators [form]="newsManagerForm" [input]="f.title" [inputName]="'título da notícia'" [validators]="['required','maxlength', 100]"></app-validators>
        </div>

        <div class="form-group">
            <label>Corpo da Notícia*</label>
            <quill-editor formControlName="body" placeholder="Digite a notícia aqui..."></quill-editor>
            <app-validators [form]="newsManagerForm" [input]="f.body" [inputName]="'corpo da notícia'" [validators]="['required']"></app-validators>
        </div>

        <div class="form-group">
            <label>
                Imagem Principal da Notícia
                <b target="_blank" *ngIf="isEditing">
                    <span *ngIf="downloadURL; else noimage">
                        <a href="{{downloadURL}}">-- Imagem Atual --</a>
                        <i class="fas fa-times" (click)="removeMainImg()" ngbTooltip="Remover imagem principal da notícia"></i>
                    </span>
                    <ng-template #noimage>-- Nenhuma imagem salva na notícia --</ng-template>
                </b>
            </label>

            <div class="inner-addon right-addon">
                <i class="fas fa-times" *ngIf="file" (click)="removeSelectedImg()" ngbTooltip="Remover imagem selecionada"></i>
                <input #inputFile type="file" class="form-control" name="newsimage" accept="image/png, image/jpeg"
                    (change)="onChange($event)">
            </div>

            <div class="progress" *ngIf="inProgress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                    [attr.aria-valuenow]="progressImg" aria-valuemin="0" aria-valuemax="100" [ngClass]="[progressImg === 100 ? 'bg-success' :'' , uploadError ? 'bg-danger' : '']"
                    [ngStyle]="{'width': progressImg + '%'}">
                    {{progressImg}}%
                </div>
            </div>
        </div>
        <div class="form-end">
            <span>Os campos com * são obrigatórios.</span>
            <button type="submit" class="btn btn-success" [disabled]="submitting">Publicar Notícia</button>
            <!-- <button type="reset" class="btn btn-info" [disabled]="submitting">Limpar Campos</button> -->
        </div>
    </form>
</div>
<!-- Modal -->
<app-modal hidden="true"></app-modal>