/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

$invalidRed: rgb(220, 53, 69);
$validGreen: rgb(66, 169, 72);
$normalBlue: rgb(60, 141, 188);

body {
    background-color: #f4f6f9;
}

form {
  .ng-valid, .ng-valid.required  {
      border-left: 5px solid $validGreen !important; /* green */
      border-color: $validGreen !important;
      &:focus {
        box-shadow: 0 0 0 0.2rem rgba(66, 169, 72, .25) !important;
      }
    }
    
    .ng-invalid:not(form).ng-touched {    
      border-left: 5px solid $invalidRed !important; /* red */
      border-color: $invalidRed !important;
      &:focus {
        box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, .25) !important;
      }
    }
  
    .invalid-feedback, .valid-feedback {
      display: block !important;
    }
  
    .form-control {
      border-left: 5px solid;
      &:focus {
        box-shadow: 0 0 0 0.2rem rgba(60, 141, 188, .25);
      }   
    }
}
