<mat-sidenav-container fullscreen>

  <mat-toolbar>
    <button class="btn sidebar-btn"><img src="../../../../assets/images/menu.svg" alt="MENU"></button>
    <button class="btn sidebar-btn logout-btn">
      <img src="../../../../assets/images/logout.svg" alt="MENU">
      <span>Sair</span>
    </button>
  </mat-toolbar>

  <mat-sidenav #sidenav [opened]="false" [mode]="(screenWidth > 840) ? 'side' : 'over'">
    <div class="sidenav-header">
      <a [routerLink]="['/']">
        <h5>Hello world!</h5>
      </a>
    </div>
  </mat-sidenav>

  <div [ngStyle]="{'display' : (screenWidth > 840) ? 'none' : 'block'}">
    <button class="btn responsive-btn" type="button" md-button (click)="sidenav.open()" style="color: black">
      <i class="fas fa-angle-right"></i>
    </button>
  </div>

  <a [routerLink]="['./newsmanager']">GOGOGOGOGOTOMANAGERPAGE</a>

  <ng-content></ng-content>

</mat-sidenav-container>