<mat-toolbar>

  <button class="btn sidebar-btn menu-btn" (click)="toggleSideBar(sidenav)" [ngClass]="sideBarOpened ? 'sidebar-toggled' : ''">

    <img src="../../../../assets/images/menu.svg" alt="MENU">
  </button>

  <div class="toolbar-content">
    <h4>
      breadCrumb
    </h4>
    <h2>
      Cartão Pax Gerenciamento
    </h2>
  </div>

  <button class="btn sidebar-btn logout-btn">
    <img src="../../../../assets/images/logout.svg" alt="MENU">
    <span>Sair</span>
  </button>

</mat-toolbar>

<mat-sidenav-container>

  <mat-sidenav #sidenav [opened]="screenWidth > 768" [mode]="(screenWidth > 768) ? 'side' : 'over'" [ngClass]="sideBarOpened ? 'scale-sidenav' : ''">

    <div class="sidenav-header">
      <a [routerLink]="['/']">
        <h5>Hello world!</h5>
      </a>
    </div>

    <div class="menu-content">

      <ul class="menu-list">

        <li class="menu-item" [ngClass]="sideBarOpened ? '' : 'icon-only'">
          <img src="../../../../assets/images/gear.svg" alt="MENU">
          <a [routerLink]="['./newsmanager']">Notícias</a>
        </li>

        <li class="menu-item" [ngClass]="sideBarOpened ? '' : 'icon-only'">
          <img src="../../../../assets/images/gear.svg" alt="MENU">
          <a [routerLink]="['./newsmanager']">Notícias</a>
        </li>

        <li class="menu-item" [ngClass]="sideBarOpened ? '' : 'icon-only'">
          <img src="../../../../assets/images/gear.svg" alt="MENU">
          <a [routerLink]="['./newsmanager']">Notícias</a>
        </li>

        <li class="menu-item" [ngClass]="sideBarOpened ? '' : 'icon-only'">
          <img src="../../../../assets/images/gear.svg" alt="MENU">
          <a [routerLink]="['./newsmanager']">Notícias</a>
        </li>

        <li class="menu-item" [ngClass]="sideBarOpened ? '' : 'icon-only'">
          <img src="../../../../assets/images/gear.svg" alt="MENU">
          <a [routerLink]="['./newsmanager']">Notícias</a>
        </li>

      </ul>

    </div>

  </mat-sidenav>

  <div class="dashboard-content">
    <ng-content></ng-content>
  </div>

</mat-sidenav-container>