$grayBlue: #5f6f81;
$navBackColor: white;
$borderColor: #c5cacf;
$menuItemColor: #4D4D4D;

.responsive-btn {
    color: white;
    position: fixed;
    min-height: 100vh;
}

.dashboard-content {
    border-radius: 2%;
    border: 1px solid lightgray;
    background-color: white;
}
@media screen and (min-width: 768px) {
    .dashboard-content {
        margin: 25px 220px;
        padding: 15px;
        max-width: 60%;
    }
    .toolbar-content {
        width: 75%;
        max-width: 75%;
        h4,h2{
            line-height: 64px;
        }
        h2 {
            margin: 0 auto;
        }
    }
}

.toolbar-content {
    color: black;
    display: inline-flex;  
    h4 {
        color: $grayBlue;
        font-size: 15px;
    }  

}
@media screen and (max-width: 767px) { 
    .dashboard-content {
        max-width: 90%;
        margin: 0 auto;
    }
    .toolbar-content {
        display: inline-block;
        h4 {
            font-size: 3vw;
            line-height: 24px;
            text-align: left;
            color: $grayBlue;
        }
        h2 {
            font-size: 4vw;
        }
    }
}

mat-toolbar {
    padding: 0px !important;
    border-bottom: 0.5px solid $borderColor;
    background: $navBackColor;
    display: block;
    text-align: center;
}

mat-sidenav-container {
    height: 100vh;
    background-color: #f4f6f9;
}

mat-sidenav {
    background: $navBackColor;
    width: 100px;
    -webkit-transition: width 0.8s; /* Safari */
    transition: width 0.8s;
    border-right: 0.5px solid $borderColor;
}

.scale-sidenav {
  width: 300px;
}

.top-menu {
    margin: 0;
    padding: 0;
    background: white;
    color: #5f6f81;
    list-style: none;
    text-transform: none;
    font-weight: 300;
    font-family: 'Lato', Arial, sans-serif;
    line-height: 60px;
}

@media screen and (max-width: 767px) {
    .sidebar-btn {
        height: 56px !important;
        min-width: 50px !important;
        width: fit-content;
        padding: 0 !important;
        img {
            height: 26px !important;
        }
        span {
            display: none;
        }
    }
    mat-sidenav {
        width: 80vw;
    }
}

.menu-btn {
    float: left;
}

.logout-btn {
    float: right;
    border-left: 0.5px solid $borderColor;
    span {
        margin-left: 10px;
        font-size: 26px;
        vertical-align: middle;
    }
    &:hover span{
        color: white;        
    }
}

.sidebar-btn {
    background: none;
    border-right: 0.5px solid $borderColor;
    height: 64px;
    padding: 0 30px;
    min-width: 100px;
    border-radius: 0 !important;
    img {
        height: 36px;
    }
    &:hover {
        background: $grayBlue;
        img {
            filter: brightness(0) invert(1);
        }
    }   
}

.sidebar-toggled {
    img {
        filter: invert(0.5) sepia(1) saturate(5) hue-rotate(175deg);
    }
}

ul {
    padding: 0 !important;
}

.menu-item {
    list-style: none;
    text-transform: none;
    font-weight: 300;
    font-family: 'Lato', Arial, sans-serif;
    line-height: 36px;
    display: flex;
    justify-content: start;
    padding: 15px 0;
    img {
        height: 36px;
        padding: 0px 36px;
    }
    a {
        display: block;
        font-size: 26px;
        height: 100%;
        color: #5f6f81;
        text-decoration: none;
        cursor: pointer;
    }
}

.icon-only  {
    a{
        display: none !important;
    }
    justify-content: center;
}




.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    -webkit-transition: .3s ease-out;
    transition: .3s ease-out;
}