@keyframes fadeInText {
    0% { opacity: 0.1; }
    25% { opacity: 0.2; }
    50% { opacity: 0.4; }
    75% { opacity: 0.7; }
    100% { opacity: 1; }
}

$grayBlue: #5f6f81;
$navBackColor: white;
$borderColor: #c5cacf;
$menuItemColor: #4D4D4D;


.responsive-btn {
    color: white;
    position: fixed;
    min-height: 100vh;
}

.dashboard-content {
    border-radius: 2%;
    border: 2px solid lightgray;
    background-color: white;
    width: fit-content;
}

@media screen and (min-width: 768px) {

    .dashboard-content {
        min-width: 75%;
        margin: 100px 150px 35px 220px;
        padding: 15px;
    }

    .toolbar-content {
        width: 100%;
        max-width: 50%;
        h4,h2{
            line-height: 64px;
        }
        h2 {
            margin: 0 auto;
        }
    }
}

.toolbar-content {
    color: black;
    display: inline-flex;  
    h4 {
        color: $grayBlue;
        font-size: 15px;
    } 
}

@media screen and (max-width: 767px) { 
    .dashboard-content {
        min-width: 90%;
        margin: 100px auto 35px auto;
        // margin: 35px auto;
    }

    mat-sidenav {
        margin-top: 56px !important;
    }

    .toolbar-content {
        display: inline-block;
        h4 {
            font-size: 3vw;
            line-height: 24px;
            text-align: left;
            color: $grayBlue;
        }

        h2 {
            font-size: 4vw;
        }
    }
}

mat-toolbar {
    padding: 0px !important;
    border-bottom: 0.5px solid $borderColor;
    position: fixed;
    z-index: 2;
    background: $navBackColor;
    display: block;
    text-align: center;
}

mat-sidenav-container {
    height: calc(100%-64px);
    background-color: #f4f6f9;
}

mat-sidenav {
    margin-top: 64px;
    position: fixed;
    background: $navBackColor;
    width: 100px;
    -webkit-transition: width 0.8s; /* Safari */
    transition: width 0.8s;
    border-right: 0.5px solid $borderColor;
}

.scale-sidenav {
  width: 300px;
}

.top-menu {
    margin: 0;
    padding: 0;
    background: white;
    color: #5f6f81;
    list-style: none;
    text-transform: none;
    font-weight: 300;
    font-family: 'Lato', Arial, sans-serif;
    line-height: 60px;
}

@media screen and (max-width: 767px) {

    .sidebar-btn {
        height: 56px !important;
        min-width: 50px !important;
        width: fit-content;
        padding: 0 !important;
        img {
            height: 26px !important;
        }
        a {
            display: none;
        }
    }
    
    mat-sidenav {
        width: 80vw;
    }
}

.menu-btn {
    float: left;
}

.logout-btn {
    float: right;
    border-left: 0.5px solid $borderColor;
    a {
        margin-left: 10px;
        font-size: 26px;
        vertical-align: middle;
        color: $grayBlue;
    }
    &:hover a{
        color: white;        
    }
}

.sidebar-btn {
    background: none;
    border-right: 0.5px solid $borderColor;
    height: 64px;
    padding: 0 30px;
    min-width: 100px;
    border-radius: 0 !important;
    img {
        height: 36px;
    }
    &:hover {
        background: $grayBlue;
        img {
            filter: brightness(0) invert(1);
        }
    }   
}

.sidebar-toggled {
    img {
        filter: invert(0.5) sepia(1) saturate(5) hue-rotate(175deg);
    }
}

ul {
    padding: 0 !important;
}

.menu-item {
    list-style: none;
    text-transform: none;
    font-weight: 300;
    font-family: 'Lato', Arial, sans-serif;
    line-height: 36px;
    display: flex;
    justify-content: start;
    padding: 15px 0;
    border-bottom: 0.5px solid $borderColor;
    cursor: pointer;
    img {
        height: 36px;
        padding: 0px 36px;
    }
    a {
        white-space: nowrap;
        width: 120px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        font-size: 26px;
        height: 100%;
        opacity: 0;
        color: $grayBlue;
        text-decoration: none;
        cursor: pointer;
        animation-name: fadeInText;
        animation-fill-mode: forwards;
        animation-delay: 0.3s;
        animation-duration: 0.7s;
    }

    &:hover {
        background-color: $grayBlue;
        img {
            filter: brightness(0) invert(1);
        }
        a {
            color: white;
        }
    }
}

.sub-item {
    line-height: 30px !important;
    justify-content: center;
    border-right: 0.5px solid #c5cacf;
    img {
        filter: brightness(2);
        height: 30px;
        padding: 0px 20px !important;
    }
    a {
        color: rgba(95,111,129,0.6);
        font-size: 22px !important;
    }
}

.sub-menu-content {
    overflow: hidden; 
    max-height: 0;
    transition: max-height 0.8s ease-out;  
}

.sub-menu {
    &:hover, &:active, &:focus {
        .arrow {
            color: white;
            transform: rotate(90deg);
            transition: 0.3s;
        }
        .sub-menu-content {
            transition: max-height 0.8s ease-in !important;
            max-height: 500px !important;
        }
    }   
}

.arrow {
    position: fixed;
    right: 25%;
    line-height: 36px;
    color: $grayBlue;
    transform: rotate(0deg);
    transition: transform 0.3s;
    transition-delay: 0.5s;  
}

@media screen and (min-width: 768px) {
    .icon-only  {
        a{
            display: none;
        }
        .arrow {
            right: 10%;
        }
        justify-content: center;
    }
}

.ripple {
    position: relative;
    overflow: hidden;
    transform: translate3d(0,0,0);
}

.ripple:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle,#000 10%,transparent 30.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10,10);
    opacity: 0;
    transition: transform 1s,opacity 1s;
}

.ripple:active:after {
    transform: scale(0,0);
    opacity: .2;
    transition: 0s;
}