<div class="component-title" [style.color]="isEditing ? 'red' : ''">
    {{isEditing ? 'Editar' : 'Adicionar'}} Usuário <b>{{isEditing ? [' - CPF: ' + userToEdit?.cpf] : ''}}</b>
</div>

<div class="form-container">
    <form class="news-manager-form" [formGroup]="usersAddForm" (ngSubmit)="submitUserForm()">

        <div class="form-row">
            <div class="form-group col-sm-6">
                <div class="form-group floating-label">
                    <input formControlName="name" type="text" class="form-control" placeholder=" "
                    maxlength="101">
                    <span>Nome Completo*</span>
                    <!-- Validador  -->
                    <app-validators [form]="usersAddForm" [input]="f.name" [inputName]="'nome completo'"
                     [validators]="['required','minlength', 3, 'maxlength', 100]"></app-validators>
                </div>

                <div class="form-row">
                    <div class="col-sm-6 floating-label">
                        <input formControlName="cpf" type="text" class="form-control" placeholder=" "
                        [value]="v.cpf | cpf" maxlength="14"
                        onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                        <span>CPF*</span>
                        <!-- Validador  -->
                        <app-validators [form]="usersAddForm" [input]="f.cpf" [inputName]="'cpf'"
                         [validators]="['required','minlength', 14,'maxlength', 14, 'minlength', 14]"></app-validators>
                    </div>
                    <div class="offset-sm-1 col-sm-5 floating-label">
                        <select class="custom-select form-control" formControlName="sex" required>
                            <option *ngFor="let sexOption of sexOptions" [value]="sexOption?.value" placeholder=" ">{{sexOption?.info}}</option>
                        </select>
                        <span>Sexo*</span>
                         <!-- Validador  -->
                        <app-validators [form]="usersAddForm" [input]="f.sex" [inputName]="'sexo'" 
                        [validators]="['required']"></app-validators>
                    </div>
                </div>
            </div>

            <div class="form-group col-sm-6">

                <div class="col-sm-10 mx-auto">
                    <app-img-input-file class="profile-style" [imgPath]="downloadURL" (imgFile)="fileImg($event)"
                    [inProgress]="inProgress" [progressPercentage]="progressImg"></app-img-input-file>
                </div>

            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-sm-3 floating-label">
                <input formControlName="birthDate" type="text" class="form-control" placeholder=" "
                [value]="v.birthDate | MyDate" maxlength="10"
                onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                <span>Data de Nascimento*</span>
                <!-- Validador  -->
                <app-validators [form]="usersAddForm" [input]="f.birthDate" [inputName]="'data de nascimento'" 
                [validators]="['required','minlength', 10,'maxlength', 10]"></app-validators>
            </div>

            <div class="form-group offset-sm-1 col-sm-4 floating-label">
                <select class="custom-select form-control" formControlName="escolaridade" required>
                    <option *ngFor="let escolaridadeOption of escolaridadeOptions" [value]="escolaridadeOption">{{escolaridadeOption}}</option>
                </select>
                <span>Escolaridade*</span>
                 <!-- Validador  -->
                <app-validators [form]="usersAddForm" [input]="f.escolaridade" [inputName]="'escolaridade'" 
                [validators]="['required']"></app-validators>
            </div>

            <div class="form-group offset-sm-1 col-sm-3 floating-label">
                <input formControlName="telephone" type="tel" class="form-control" placeholder=" "
                [value]="v.telephone | brphone" maxlength="15"
                onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                <span>Telefone*</span>
                <!-- Validador  -->
                <app-validators [form]="usersAddForm" [input]="f.telephone" [inputName]="'telefone'"
                    [validators]="['required','maxlength', 15, 'minlength', 14]"></app-validators>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-sm-3 floating-label">
                <select class="custom-select form-control" formControlName="role" required>
                    <option *ngFor="let roleOption of roleOptions" [value]="roleOption.value">{{roleOption?.info}}</option>
                </select>
                <span>Tipo de Conta*</span>
                <!-- Validador  -->
                <app-validators [form]="usersAddForm" [input]="f.role" [inputName]="'tipo de conta'"
                    [validators]="['required']"></app-validators>
            </div>

            <div class="form-group offset-sm-1 col-sm-4 floating-label">
                <input formControlName="email" type="email" class="form-control" placeholder=" "
                maxlength="100" email>
                <span>Email</span>
                <!-- Validador  -->
                <app-validators [form]="usersAddForm" [input]="f.email" [inputName]="'email'"
                 [validators]="['email', 'minlength', 3, 'maxlength',100]"></app-validators>
            </div>


            <div class="form-group offset-sm-1 col-sm-3 floating-label">
                <input formControlName="telephoneOp" type="tel" class="form-control" placeholder=" "
                [value]="v.telephoneOp | brphone" maxlength="15"
                onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                <span>Telefone Opcional {{v.telephoneOp}}</span>
                <!-- Validador  -->
                <app-validators [form]="usersAddForm" [input]="f.telephoneOp" [inputName]="'telefone opcional'"
                [validators]="['maxlength', 15]">
                </app-validators>
            </div>
        </div>

        <hr class="d-none d-sm-block">

        <div class="form-row">
            <div class="form-group col-sm-3 floating-label">
                <input formControlName="cep" type="text" class="form-control" placeholder=" "
                [value]="v.cep | cep" maxlength="9"
                onkeypress="return event.charCode >= 48 && event.charCode <= 57">
                <span>CEP*</span>
                <app-validators [form]="usersAddForm" [input]="f.cep" [inputName]="'cep'"
                [validators]="['required','maxlength',9, 'minlengt', 9]"></app-validators>
            </div>
            <a href="http://www.buscacep.correios.com.br/sistemas/buscacep/" target="_blank" class="cep-btn">
                <button type="button" class="btn btn-outline-warning">Consultar CEP</button>
            </a> 
        </div>

        <div class="form-row">

            <div class="form-group col-sm-4 floating-label">
                <input formControlName="endereco" type="text" class="form-control" placeholder=" "
                maxlength="101">
                <span>Endereço*</span>
                <!-- Validador  -->
                <app-validators [form]="usersAddForm" [input]="f.endereco" [inputName]="'endereço'"
                 [validators]="['required', 'minlength', 6, 'maxlength', 100]"></app-validators>
            </div>


            <div class="form-group offset-sm-1 col-sm-2 floating-label">
                <input formControlName="numero" type="number" class="form-control" placeholder=" "
                maxlength="7">
                <span>Nº* </span>
                <!-- Validador  -->
                <app-validators [form]="usersAddForm" [input]="f.numero" [inputName]="'numero'" 
                [validators]="['required', 'minlength', 1, 'maxlength', 6]"></app-validators>
            </div>


            <div class="form-group offset-sm-1 col-sm-4 floating-label">
                <input formControlName="complemento" type="text" class="form-control" placeholder=" "
                maxlength="16">
                <span>Complemento</span>
                  <!-- Validador  -->
                  <app-validators [form]="usersAddForm" [input]="f.complemento" [inputName]="'complemento'" 
                  [validators]="['minlength', 2, 'maxlength', 15]"></app-validators>
            </div>
        </div>

        <div class="form-row">

            <div class="form-group col-sm-3 floating-label">
                <input formControlName="bairro" type="text" class="form-control" placeholder=" "
                maxlength="51">
                <span>Bairro*</span>
                <!-- Validador  -->
                <app-validators [form]="usersAddForm" [input]="f.bairro" [inputName]="'bairro'"
                 [validators]="['required', 'minlength', 2, 'maxlength', 50]"></app-validators>
            </div>

            <div class="form-group offset-sm-1 col-sm-3 floating-label">
                <input formControlName="estado" type="text" class="form-control" placeholder=" "
                maxlength="51">
                <span>Estado*</span>
                 <!-- Validador  -->
                 <app-validators [form]="usersAddForm" [input]="f.estado" [inputName]="'estado'"
                 [validators]="['required', 'minlength', 2, 'maxlength', 50]"></app-validators>
            </div>

            <div class="form-group offset-sm-1 col-sm-4 floating-label">
                <input formControlName="cidade" type="text" class="form-control" placeholder=" "
                maxlength="51">
                <span>Cidade* </span>
                <!-- Validador  -->
                <app-validators [form]="usersAddForm" [input]="f.cidade" [inputName]="'cidade'" 
                [validators]="['required', 'minlength', 2, 'maxlength', 50]"></app-validators>
            </div>

        </div>

        <div class="form-row">
            <div class="form-group col-sm-6 floating-label">
                <select class="custom-select form-control" formControlName="plano" required>
                    <option *ngFor="let planosOption of planosOptions" [value]="planosOption?.value">{{planosOption?.info}}</option>
                </select>
                <span>Plano*</span>
                 <!-- Validador  -->
                 <app-validators [form]="usersAddForm" [input]="f.plano" [inputName]="'plano'" 
                 [validators]="['required', 'maxlength', 50]"></app-validators>
            </div>

            <span class="preco-mensalidade">Preço Mensalidade: <b>{{v.precomensalidade | BRCurrencyPipe}}</b></span>
            

        </div>

        <div class="form-end">
            <span>Os campos com * são obrigatórios.</span>
            <button type="reset" class="btn btn-info" [disabled]="submitting">Limpar Campos</button>
            <button type="submit" class="btn btn-success" [disabled]="submitting">
                {{this.isEditing ? "Editar": "Cadastrar"}} Usuário</button>
        </div>

    </form>
</div>
<!-- Modal -->
<app-modal hidden="true"></app-modal>