@import "../../dashboard.scss";


@media screen and (max-width: 767px) {
    .form-container {
        padding: 30px 5px !important;
    }
    .preco-mensalidade {
        margin-top: -1rem;
    }
    .form-row div:not(:last-child) {
        margin-bottom: 1rem;
    }    
}
.form-container {
    padding: 15px 5px;
}

app-validators {
    margin-bottom: -5px !important;
}

.preco-mensalidade {
    line-height: 38px;
    margin-left: 75px;
}
hr {
    margin-bottom: 2rem;
    margin-top: -1rem;
}